<div 
style="padding-top: 100px;  height: 100vh"
class="container d-flex justify-content-between align-items-center">
    <div class="container d-flex flex-column align-items-center py-4" style="margin-left: 5px;">
      
      <a href="#" class="mb-3">
     
        <img
        [src]="apiUrl + user.avatar[0]"
        alt="Post photos"
        class="img-fluid rounded shadow-sm rounded-circle" style="width: 65px;"
        style="cursor: pointer;"
      />
    
      </a>
  
      <div class="menu-toggle d-lg-none mb-3" onclick="w3_open()">
        <i class="fa fa-bars fa-2x"></i>
      </div>
  
      <div class="text-center">
        <h1><b> Administrare </b></h1>
      </div>
  
      <div class="d-flex flex-column align-items-center mt-3">
        <div class="custom-btn mb-2" routerLink="/admin/create-category" tabindex="0" role="button">
          <i class="fa fa-photo me-2"></i> Create category:
        </div>
  
        <div class="custom-btn" routerLink="/admin/create-video-post" tabindex="0" role="button">
          <i class="fa fa-map-pin me-2"></i> Create post video:
        </div>
  
        <div class="custom-btn" routerLink="/admin/create-post" tabindex="0" role="button">
          <i class="fa fa-map-pin me-2"></i> Create post image:
        </div>
  
        <div class="custom-btn" routerLink="/admin/admin-posts" tabindex="0" role="button">
          <i class="fa fa-map-pin me-2"></i> Posts
        </div>
  
        <div class="custom-btn" routerLink="/admin/profile-admin" tabindex="0" role="button">
          <i class="fa fa-map-pin me-2"></i> Profile:
        </div>
  
        <div class="custom-btn" routerLink="/admin/users" tabindex="0" role="button">
          <i class="fa fa-map-pin me-2"></i> Users
        </div>

      </div>
      
    </div>
  </div>
  